In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#### Loading dictinary from file

In [ ]:
uni_dict = np.load('example_dict.npy').item()

In [ ]:
uni_dict

In [ ]:
uni_dict.keys()

#### dictionary to dataframe

In [ ]:
df_rows = []
for k,v in uni_dict.items():
    print('key', k)
    print('value',v)
    for vv in v:
        print('this will be a row: ',[k,vv])
        df_rows.append([k,vv])

In [ ]:
df_rows

In [ ]:
uni_df = pd.DataFrame(df_rows, columns=['city','university'])

In [ ]:
uni_df

#### apply function to column

In [ ]:
x = uni_df['university'].iloc[0]
x

In [ ]:
x.split(' ')[0]

In [ ]:
uni_df['university'].apply(lambda x: x.split(' ')[0])

In [ ]:
x = uni_df['university'].iloc[5]
x

In [ ]:
x.replace(' University','')

In [ ]:
uni_df['university'].apply(lambda x: x.replace(' University',''))

In [ ]:
uni_df['univeristy_name'] = uni_df['university'].apply(lambda x: x.replace(' University',''))
uni_df

#### apply function to multiple columns

In [ ]:
uni_df.apply(lambda x: x.city + '_' + x.university, axis=1)

In [ ]:
uni_df['city_plus_uni'] = uni_df.apply(lambda x: x.city + '_' + x.university, axis=1)
uni_df

In [ ]:
# let's do exercises 1-2!

#### merging

In [ ]:
df_x = uni_df[['city', 'university']].copy()
df_y = pd.DataFrame({'city':['London', 'Boston','New York'],
                    'country':['UK','USA','USA']})

In [ ]:
df_x

In [ ]:
df_y

<img src="join.png">

In [ ]:
pd.merge(df_x, df_y, how='inner')

In [ ]:
pd.merge(df_x, df_y, how='outer')

In [ ]:
pd.merge(df_x, df_y, how='left')

In [ ]:
pd.merge(df_x, df_y, how='right')

In [ ]:
df_y = pd.DataFrame({'city_name':['London', 'Boston','New York'],
                    'country':['UK','USA','USA']})

In [ ]:
pd.merge(df_x, df_y, how='left')

In [ ]:
uni_with_location = pd.merge(df_x, df_y, how='left', left_on='city', right_on='city_name')

In [ ]:
uni_with_location

#### merging on multiple columns

In [ ]:
gdp = pd.DataFrame({'city':['London','London','Boston','Boston','New York','New York'],
                    'year':[2017,2018,2017,2018,2017,2018],
                    'GDP':[1,2,3,4,5,6]})
scholarship = pd.DataFrame({'university':['Queen Mary University','Royal Holloway University','Boston University', 'Queen Mary University','Royal Holloway University','Boston University'],
                    'year':[2017,2017,2017,2018,2018,2018],
                    'scholarship_avg':[1,2,3,4,5,6]})

In [ ]:
gdp

In [ ]:
scholarship

In [ ]:
uni_with_location

In [ ]:
scholarship_with_city = pd.merge(scholarship, uni_with_location[['university','city']],
                                how='left')
scholarship_with_city

In [ ]:
scholarship_with_city_GDP = pd.merge(scholarship_with_city, gdp,
                                    how='left', on=['city','year'])
scholarship_with_city_GDP

In [ ]:
# let's do exercise 3-4!

#### seaborn plots

In [ ]:
import seaborn as sns
#https://seaborn.pydata.org/examples/index.html

In [ ]:
scholarship_with_city_GDP.boxplot('GDP')

In [ ]:
sns.boxplot(data=scholarship_with_city_GDP, x='GDP', orient='v')

In [ ]:
scholarship_with_city_GDP.plot.bar(x='city',y='GDP')

In [ ]:
sns.barplot(data=scholarship_with_city_GDP, x='city', y='GDP')

In [ ]:
scholarship_with_city_GDP[['GDP']].hist()

In [ ]:
sns.distplot(scholarship_with_city_GDP['GDP'])

In [ ]:
scholarship_with_city_GDP.plot.scatter(x='scholarship_avg',y='GDP')

In [ ]:
sns.jointplot(data=scholarship_with_city_GDP, x='scholarship_avg',y='GDP')

In [ ]:
sns.lmplot(data=scholarship_with_city_GDP, x='scholarship_avg',y='GDP')

In [ ]:
sns.lmplot(data=scholarship_with_city_GDP, x='scholarship_avg',y='GDP', hue='city')

#### interactive plotting with bokeh

In [ ]:
import bokeh
from bokeh.io import show, output_notebook
from bokeh.plotting import figure, ColumnDataSource
from bokeh.models import HoverTool
output_notebook()

In [ ]:
p = figure( plot_width=600, plot_height=400)
p.scatter(x= scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='London']['scholarship_avg'],
           y=scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='London']['GDP'],
          color='lime', alpha=0.8, legend='London',
          marker='circle', size=15)
p.scatter(x= scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='Boston']['scholarship_avg'],
           y=scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='Boston']['GDP'],
          color='purple', alpha=0.8, legend='Boston',
         marker='circle', size=15)
p.legend.location = "top_left"
show(p)

In [ ]:

p = figure( plot_width=600, plot_height=400)
p.title.text = 'Click on legend entries to hide the corresponding lines'

p.scatter(x= scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='London']['scholarship_avg'],
           y=scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='London']['GDP'],
          color='lime', alpha=0.8, legend='London',
          muted_color='lime', muted_alpha=0.2,
          marker='circle', size=15)
p.scatter(x= scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='Boston']['scholarship_avg'],
           y=scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='Boston']['GDP'],
          color='purple', alpha=0.8, legend='Boston',
          muted_color='purple', muted_alpha=0.2,
         marker='circle', size=15)


p.legend.location = "top_left"
p.legend.click_policy="mute"#"hide"

show(p)

In [ ]:

p = figure( plot_width=600, plot_height=400)
p.title.text = "Mouse over the dots"

l_df = scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='London']
source = ColumnDataSource(l_df)
p.scatter(x= 'scholarship_avg',
           y='GDP',
          color='lime', alpha=0.8, legend='London',
          muted_color='lime', muted_alpha=0.2,
          marker='circle', size=15,
         source = source)

hover = HoverTool(tooltips=[("uni", "@university"),
                            ('year', '@year')])
p.add_tools(hover)

b_df = scholarship_with_city_GDP[scholarship_with_city_GDP['city']=='Boston']
source = ColumnDataSource(b_df)
p.scatter(x= 'scholarship_avg',
           y='GDP',
          color='purple', alpha=0.8, legend='Boston',
          muted_color='purple', muted_alpha=0.2,
         marker='circle', size=15,
         source = source)


p.add_tools(hover)
p.legend.location = "top_left"
p.legend.click_policy="mute"#"hide"

show(p)

In [ ]:
# let's do exercises 5-8!

### 1 - exercise

Load the zipcode_dict.npy file into a dictionary. <br>
Create a list (called df_rows) from the dictionary where each element looks like ['city','zipcode']. For each city there should be a row for all the corresponding zip codes.

In [ ]:
### Your code here

### 1 - check yourself

In [ ]:
if len(df_rows) == 147:
    print('Your list is correct')
else:
    print('Your list is NOT correct')

### 2 - exercise

- Create a dataframe from the df_rows list, where the columns are called landmark az zipcode <br>
- Create a new column in the dataframe called zip that contains the values from the zipcode column without the ',' and converted into integer type
- Drop the zipcode column

In [ ]:
### Your code here

### 2 - check yourself

In [ ]:
if zipdf['zip'].dtype==int and len(zipdf) == 147:
    print('The dataframe is correct')
else:
    print('The dataframe is NOT correct')

### 3 - exercise
Load the trip, station and weather csv-s into pandas dataframes <br>
Join them on the appropriate columns and create a final dataframe called merged_df where there is a row for each trip with the weather conditions for the corresponding day in the corresponding city (landmark)

In [ ]:
### Your code here

### 3 - check yourself

In [ ]:
if sorted(merged_df['Events'].value_counts().tolist()) == [498, 793, 10393, 11697, 120232]:
    print('The dataframe is correct')
else:
    print('The dataframe is NOT correct')

### 4 - exercise

Create a new column in the merged_df called weekend where the value is True for Saturday and Sunday and False for the other days. If you want you can create helper column that contains the name of the day first

In [ ]:
### Your code here

### 4 - check yourself

In [ ]:
if sorted(merged_df['weekend'].value_counts().tolist()) == [23046, 121128]:
    print('The weekend column is correct')
else:
    print('The weekend column is NOT correct')

### 5 - exercise

We would like to plot the number of trips taken by Customers/Subscribers by the different weather conditions. Let's start with the Max_Temperature_F! <br>
Create a dataframe where we can find for each possible values of the Max_Temperature_F, how many trips were taken by Subscirption Type and weekend. It will be the easiest to plot if the dataframe is in long format: for each temperature value there are 4 rows: weekend - Customer, weeken - Subscriber, weekday - Customer, weekday - Subscriber. Name the columns containing the number of trips to num_trips.

In [ ]:
### Your code here

### 5 - check yourself

In [ ]:
if len(toplot) == 165:
    print('The dataframe is correct')
else:
    print('The dataframe is NOT correct')

### 6 - exercise
Use seaborn to lmplot to plot the relationship between the max temperature and the number of trips taken by Customers/Subscribers! Draw two separate plots for weekends and weekdays.

In [ ]:
### Your code here

### 7 - exercise

Use a for loop to draw similar charts for all numeric weather conditions!

In [ ]:
### Your code here

### 8 - exercise
Similarly as above, loop the numeric weather columns and draw a chart a weekend and a weekday chart for each variable. This time, calculate the customer/subscriber ratio and use the jointplot chart type to show it. You can draw a regression line on this type of chart as well. Check the documention to find the argument for it!

In [ ]:
### Your code here