# Example

### Listing files in directory with os modul

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\szige\\Desktop\\CEU\\2019-2020 Fall\\Coding 3 - Data Management and Analysis with Python\\class2'

In [18]:
os.chdir('C:\\Users\\szige\\Desktop\\CEU\\2019-2020 Fall\\Coding 3 - Data Management and Analysis with Python\\class2\\example_data_structure_folder\\')

In [19]:
os.getcwd()

'C:\\Users\\szige\\Desktop\\CEU\\2019-2020 Fall\\Coding 3 - Data Management and Analysis with Python\\class2\\example_data_structure_folder'

In [20]:
filenames = os.listdir()

### Lists

In [21]:
filenames

['a.csv', 'a_1.csv', 'a_2.csv', 'a_3.csv', 'b_1.csv', 'b_2.csv', 'b_3.csv']

In [22]:
type(filenames)

list

In [23]:
len(filenames)

7

In [24]:
a_data_list = []
b_data_list = []

In [25]:
type(a_data_list), len(a_data_list)

(list, 0)

### Slicing lists and strings

In [26]:
first_filename = filenames[0]

In [27]:
first_filename

'a.csv'

In [28]:
type(first_filename)

str

In [29]:
first_char = first_filename[0]
first_char

'a'

### Looping lists

In [30]:
for f in filenames:
    print(f)

a.csv
a_1.csv
a_2.csv
a_3.csv
b_1.csv
b_2.csv
b_3.csv

In [31]:
for f in filenames:
    print(f[0])

a
a
a
a
b
b
b

### If statement

In [32]:
first_filename

'a.csv'

In [33]:
first_filename[0] == 'b'

False

In [34]:
if first_filename[0] == 'b':
    print('This filename starts with b')

In [35]:
second_filename = filenames[1]
second_filename

'a_1.csv'

In [36]:
if second_filename[0] == 'b':
    print('This filename starts with b')

### Using if statement inside a loop

In [37]:
for f in filenames:
    print(f)
    if f[0] == 'a':
        print('This filename starts with a')
    if f[0] == 'b':
        print('This filename starts with b')

a.csv
This filename starts with a
a_1.csv
This filename starts with a
a_2.csv
This filename starts with a
a_3.csv
This filename starts with a
b_1.csv
This filename starts with b
b_2.csv
This filename starts with b
b_3.csv
This filename starts with b

### Adding to list

In [38]:
mylist = []

In [39]:
mylist

[]

In [40]:
mylist.append('new_element')

In [41]:
mylist

['new_element']

In [42]:
myvariable = 'newer_element'
mylist.append(myvariable)

In [43]:
mylist

['new_element', 'newer_element']

### Adding elements to list inside a loop based on the result of if statement

In [44]:
a_data_list = []
b_data_list = []

In [45]:
a_data_list

[]

In [46]:
b_data_list

[]

In [47]:
for f in filenames:
    print(f)
    if f[0] == 'a':
        print('This filename starts with a so it will be appended to a_data_list')
        a_data_list.append(f)
    if f[0] == 'b':
        print('This filename starts with b so it will be appended to b_data_list')
        b_data_list.append(f)
    print('a_data_list at this point is:')
    print(a_data_list)
    print('b_data_list at this point is:')
    print(b_data_list)
    print()

a.csv
This filename starts with a so it will be appended to a_data_list
a_data_list at this point is:
['a.csv']
b_data_list at this point is:
[]

a_1.csv
This filename starts with a so it will be appended to a_data_list
a_data_list at this point is:
['a.csv', 'a_1.csv']
b_data_list at this point is:
[]

a_2.csv
This filename starts with a so it will be appended to a_data_list
a_data_list at this point is:
['a.csv', 'a_1.csv', 'a_2.csv']
b_data_list at this point is:
[]

a_3.csv
This filename starts with a so it will be appended to a_data_list
a_data_list at this point is:
['a.csv', 'a_1.csv', 'a_2.csv', 'a_3.csv']
b_data_list at this point is:
[]

b_1.csv
This filename starts with b so it will be appended to b_data_list
a_data_list at this point is:
['a.csv', 'a_1.csv', 'a_2.csv', 'a_3.csv']
b_data_list at this point is:
['b_1.csv']

b_2.csv
This filename starts with b so it will be appended to b_data_list
a_data_list at this point is:
['a.csv', 'a_1.csv', 'a_2.csv', 'a_3.csv']
b_data_list at this point is:
['b_1.csv', 'b_2.csv']

b_3.csv
This filename starts with b so it will be appended to b_data_list
a_data_list at this point is:
['a.csv', 'a_1.csv', 'a_2.csv', 'a_3.csv']
b_data_list at this point is:
['b_1.csv', 'b_2.csv', 'b_3.csv']

### Sorting lists

In [48]:
a_data_list

['a.csv', 'a_1.csv', 'a_2.csv', 'a_3.csv']

In [49]:
sorted_a_data_list = sorted(a_data_list)

In [50]:
sorted_a_data_list

['a.csv', 'a_1.csv', 'a_2.csv', 'a_3.csv']

### pandas dataframe

In [51]:
import pandas as pd

In [52]:
first_a_data_filename = sorted_a_data_list[0]
first_a_data_filename

'a.csv'

In [53]:
first_a_df = pd.read_csv(first_a_data_filename)

In [54]:
type(first_a_df)

pandas.core.frame.DataFrame

In [55]:
first_a_df

   a aa
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
5  6  f

In [59]:
first_a_df[['aa']]

  aa
0  a
1  b
2  c
3  d
4  e
5  f

In [56]:
len(first_a_df)

6

In [60]:
second_a_data_filename = sorted_a_data_list[1]
second_a_data_filename

'a_1.csv'

In [61]:
second_a_df = pd.read_csv(second_a_data_filename)

In [62]:
second_a_df

   a aa
0  1  a
1  2  b

### Concatenating dataframes

In [63]:
a_dataframes = [first_a_df, second_a_df]

In [64]:
type(a_dataframes)

list

In [65]:
a_dataframes[0]

   a aa
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
5  6  f

In [66]:
type(a_dataframes[0])

pandas.core.frame.DataFrame

In [67]:
concatenated_a_df = pd.concat(a_dataframes)

In [68]:
concatenated_a_df

   a aa
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
5  6  f
0  1  a
1  2  b

In [69]:
len(concatenated_a_df)

8

In [70]:
a_dataframes = []
for a_filename in sorted_a_data_list:
    a_df = pd.read_csv(a_filename)
    a_dataframes.append(a_df)

In [71]:
len(a_dataframes)

4

In [72]:
type(a_dataframes[0])

pandas.core.frame.DataFrame

In [73]:
a_dataframes[0]

   a aa
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
5  6  f

In [74]:
concatenated_a_df = pd.concat(a_dataframes)

In [75]:
concatenated_a_df

   a aa
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
5  6  f
0  1  a
1  2  b
0  3  c
1  4  d
0  5  e
1  6  f

In [76]:
sorted_b_data_list = sorted(b_data_list)
b_dataframes = []
for b_filename in b_data_list:
    b_df = pd.read_csv(b_filename)
    b_dataframes.append(b_df)
concatenated_b_df = pd.concat(b_dataframes)

In [77]:
concatenated_b_df

    b  bb
0  10  aa
1  20  bb
0  30  cc
1  40  dd
0  50  ee
1  60  ff

### Saving dataframes as csv

In [78]:
concatenated_a_df.to_csv('a.csv', index=False)

# Excercise

### 1 - exercise
Import the os modul and look at the current working directory. If this is not the class2 directory, use the os.chdir() command to change the working directory!

In [79]:
### Your code here
import os
os.chdir('C:\\Users\\szige\\Desktop\\CEU\\2019-2020 Fall\\Coding 3 - Data Management and Analysis with Python\\class2\\')
os.getcwd()

'C:\\Users\\szige\\Desktop\\CEU\\2019-2020 Fall\\Coding 3 - Data Management and Analysis with Python\\class2'

### 1 - check yourself
The output of this cell should end with "/load_data"

In [82]:
if os.getcwd()[-6:] == 'class2':
    print('Your working directory is correct')
else:
    print('Your working directory is NOT correct')

Your working directory is correct

### 2 - exercise
Create a variable called filenames that contains the files and folders in the load_data library. (Use the os.listdir() command for this) <br>
Create three empty lists with the names: trip_file_list, station_file_list, weather_file_list

In [83]:
### Your code here
filenames = os.listdir()
trip_file_list = []
station_file_list = []
weather_file_list = []

### 2 - check yourself
The length of the filenames list should be 169 (or 168 if you haven't saved this notebook yet). <br>
The length of the other lists should be 0

In [84]:
print('Length of filenames list is {}'.format(len(filenames)))
print('Length of trip_file_list is {}'.format(len(trip_file_list)))
print('Length of station_file_list list is {}'.format(len(station_file_list)))
print('Length of weather_file_list is {}'.format(len(weather_file_list)))

Length of filenames list is 170
Length of trip_file_list is 0
Length of station_file_list list is 0
Length of weather_file_list is 0

### 3 - exercise
Write a loop on the filenames list. Inside the loop check if the filenames starts with 't'. If it does, append it to the trip_file_list. Do similarly for the station_file_list and for the weather_file_list

Bonus exercise: Instead of using 3 if statements, try using 1 if-elif-else statement.

In [85]:
### Your code here
for f in filenames:
    if f[0] == 't':
        trip_file_list.append(f)
    elif f[0] == 's':
        station_file_list.append(f)
    elif f[0] == 'w':
        weather_file_list.append(f)

### 3 - check yourself

In [86]:
if len(trip_file_list) == 145:
    print('Length of trip_file_list is correct')
else:
    print('Length of trip_file_list is NOT correct')
if len(station_file_list) == 2:
    print('Length of station_file_list is correct')
else:
    print('Length of station_file_list is NOT correct')
if len(weather_file_list) == 19:
    print('Length of weather_file_list is correct')
else:
    print('Length of weather_file_list is NOT correct')

Length of trip_file_list is correct
Length of station_file_list is correct
Length of weather_file_list is correct

### 4 - exercise
Sort the trip, station and weather file lists. Make 3 dataframes by reading in the first csv (the first element from each sorted lists). <br><br>
At the end should have a dataframe called first_trip_df containing the trip_1.csv data, <br>
a dataframe called first_station_df containing the station_1.csv data and <br>
a dataframe called first_weather_df containing the weather_1.csv data.

In [87]:
### Your code here
sorted_trip_file_list = sorted(trip_file_list)
sorted_station_file_list = sorted(station_file_list)
sorted_weather_file_list = sorted(weather_file_list)

first_trip_df = pd.read_csv(sorted_trip_file_list[0])
first_station_df = pd.read_csv(sorted_station_file_list[0])
first_weather_df = pd.read_csv(sorted_weather_file_list[0])

### 4 - check yourself
The Trip ID in the second row of the first_trip_df should be 4607 <br>
The station_id in the second row of the first_station_df should be 3 <br>
The date in the second row of the first_weather_df should be 8/30/2013 <br>

In [88]:
print('This is the first 5 rows from the first_trip_df dataframe')
display(first_trip_df.head())
print('\nThis is the first 5 rows from the first_station_df dataframe')
display(first_station_df.head())
print('\nThis is the first 5 rows from the first_weather_df dataframe')
display(first_weather_df.head())

This is the first 5 rows from the first_trip_df dataframe

,Trip ID,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type
0,4576,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber
1,4607,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber
2,4130,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber
3,4251,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber
4,4299,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber

This is the first 5 rows from the first_station_df dataframe

,station_id,name,lat,long,dockcount,installation,zip_code
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,8/6/2013,95112
1,3,San Jose Civic Center,37.330698,-121.888979,15,8/5/2013,95121
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,8/6/2013,95155
3,5,Adobe on Almaden,37.331415,-121.893200,19,8/5/2013,95121
4,6,San Pedro Square,37.336721,-121.894074,15,8/7/2013,94089

This is the first 5 rows from the first_weather_df dataframe

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Cloud_Cover,Events,Wind_Dir_Degrees,landmark
0,8/29/2013,74.0,68.0,61.0,61,58,56,93,75,57,...,10,10,23,11,28.0,0.0,4,NaN,286,San Francisco
1,8/30/2013,78.0,69.0,60.0,61,58,56,90,70,50,...,10,7,29,13,35.0,0.0,2,NaN,291,San Francisco
2,8/31/2013,71.0,64.0,57.0,57,56,54,93,75,57,...,10,10,26,15,31.0,0.0,4,NaN,284,San Francisco
3,9/1/2013,74.0,66.0,58.0,60,56,53,87,68,49,...,10,10,25,13,29.0,0.0,4,NaN,284,San Francisco
4,9/2/2013,75.0,69.0,62.0,61,60,58,93,77,61,...,10,6,23,12,30.0,0.0,6,NaN,277,San Francisco

### 5 - exercise
Create an empty list called trip_dataframes <br>
Loop through the filenames in the sorted trip file list. Inside the loop read in the corresponding csv into a dataframe. Append this dataframe to the trip_dataframes. <br>
After the loop finished concatenate the dataframes in the trip_dataframes list into a dataframe called trip. <br><br>
Similarly create a station and a weather dataframe.

In [89]:
### Your code here
trip_dataframes = []
station_dataframes = []
weather_dataframes = []

for trip_filename in sorted_trip_file_list:
    trip_dataframes.append(pd.read_csv(trip_filename))
trip = pd.concat(trip_dataframes)
    
for station_filename in sorted_station_file_list:
    station_dataframes.append(pd.read_csv(station_filename))
station = pd.concat(station_dataframes)
    
for weather_filename in sorted_weather_file_list:
    weather_dataframes.append(pd.read_csv(weather_filename))
weather = pd.concat(weather_dataframes)

### 5 - check yourself

In [90]:
if len(trip) == 144115:
    print('The trip dataframe is correct')
else:
    print('The trip dataframe is NOT correct')
if len(station) == 69:
    print('The station dataframe is correct')
else:
    print('The station dataframe is NOT correct')
if len(weather) == 928:
    print('The weather dataframe is correct')
else:
    print('The weather dataframe is NOT correct')

The trip dataframe is correct
The station dataframe is correct
The weather dataframe is correct

### 6 - exercise
Write the trip, the station and the weather dataframes in csv files called trip.csv, station.csv and weather.csv. <br>
Use the index=False argument

In [91]:
### Your code here
trip.to_csv('trip.csv', index=False)
station.to_csv('station.csv', index=False)
weather.to_csv('weather.csv', index=False)

### 6 - check yourself
Run the code cell below to check this task

In [92]:
if 'trip.csv' in os.listdir():
    print('trip.csv was successfully saved')
else:
    print('trip.csv was NOT successfully saved')
if 'station.csv' in os.listdir():
    print('station.csv was successfully saved')
else:
    print('station.csv was NOT successfully saved')
if 'weather.csv' in os.listdir():
    print('weather.csv was successfully saved')
else:
    print('weather.csv was NOT successfully saved')

trip.csv was successfully saved
station.csv was successfully saved
weather.csv was successfully saved

### +1 exercise

The files used to create each dataframes are numbered from 1. Check if there is one (and only one) file for all the numbers for all dataframes.

In [111]:
if len(sorted_trip_file_list) == len(set(sorted_trip_file_list)) \
    and len(sorted_station_file_list) == len(set(sorted_station_file_list)) \
    and len(sorted_weather_file_list) == len(set(sorted_weather_file_list)):
    print('There is one, and only one file for all the numbers for all dataframes.')

There is one, and only one file for all the numbers for all dataframes.