#### operation on column names

In [0]:
df = pd.DataFrame({'a':[1,1,1,2,2,3,4,5],
                  'b':[10,10,11,20,0,0,40,50],
                  'c':['apple','apple','plum','pear','plum','apple','apple','apple']})
df

In [0]:
df.columns

In [0]:
df.rename(columns={'a':'A',
                  'b':'B'}, inplace=True)

In [0]:
df.columns

In [0]:
df.columns = ['aa','bb','cc']

In [0]:
df

#### String operations

In [0]:
mystring = 'This is an apple '
mystring

In [0]:
mystring.strip(' ')

In [0]:
mystring.strip('This')

In [0]:
mystring.replace('apple','pear')

In [0]:
mystring.split(' ')

In [0]:
mystring.replace('apple','pear').strip(' ').split(' ')

In [0]:
one_char = mystring[0]
one_char

In [0]:
one_char.islower(), one_char.isupper()

In [0]:
mystring.upper()

In [0]:
' '.join(['This', 'is', 'an', 'apple'])

#### Regular expressions

Search

In [0]:
import re

In [0]:
pattern = 'pattern'
text = 'Is the pattern in here?'
match = re.search(pattern, text)

In [0]:
match

In [0]:
match.start(), match.end()

In [0]:
match.group()

In [0]:
if match:
    print('Pattern is found')

Multiple occurrences

In [0]:
pattern = 'er'
text = 'There can be multiple patterns as well'

In [0]:
all_matches = re.findall(pattern, text)
all_matches

Finding regular expressions

In [0]:
text = 'abbaaabbbbaaaaa'
patterns = ['ab*',     # a followed by zero or more b
            'ab+',     # a followed by one or more b
            'ab?',     # a followed by zero or one b
            'ab{3}']   # a followed by three b

print(text)
for p in patterns:
    print(p, re.findall(p, text))

In [0]:
text = 'ab aag AB somethingAAG'
patterns = ['[ab]+',     # either a or b
            '[AB]+',     # either a or b upper case
            '[a-z]+',     # any lower case letter
            '[A-Z]+',    # any upper case letter
            'something[A-Z]',
            '[a-zA-Z]+']  

print(text)
for p in patterns:
    print(p, re.findall(p, text))

In [0]:
text = 'You can. also find - without'
patterns = ['[^-. ]+',  # sequences without -, ., or space]  
            'a.', # a followed by any charachter
            'f.*d'] # f followed by any charachters ending with d

print(text)
for p in patterns:
    print(p, re.findall(p, text))

In [0]:
text = 'Finding different types 1,2,3'
patterns = [r'\d+', # sequence of digits
                r'\D+', # sequence of non-digits
                r'\s+', # sequence of whitespace
                r'\S+', # sequence of non-whitespace
                r'\w+', # alphanumeric characters
                r'\W+', # non-alphanumeric
           ]

print(text)
for p in patterns:
    print(p, re.findall(p, text))

#### List comprehension

In [0]:
mylist = ['adam','bruno','cecile']
new_list = []
for l in mylist:
    new_list.append(l.capitalize())
new_list

In [0]:
[x.capitalize() for x in mylist]

In [0]:
[x.capitalize() for x in mylist if not x.startswith('a')]

In [0]:
[re.findall('[aeiou]', x) for x in mylist]

## Excluding days with extreme weather conditions

### 1 - exercise

Import the pandas library and load the weather_filled.csv file you downloaded from the class 5 folder into a dataframe called weather. <br>
Check the name of the columns. Is the nameing consistent?

In [0]:
# Your code here

### 1 - check yourself

No, there are column names with an extra space at the end of the name <br>
and column names where the underscore is missing from between the words

### 2 - exercise

Correct these mistakes! You can choose how to do it, but at the end remove the space from the column names and put underscores wherever needed. <br><br> You can loop through the column names and use string operations to insert the underscore where needed. You can also use the re module to find these occurrences. With the re module you can do the replacement in one step as well. <br>
You can rename the columns inside the loop or you can build a list of the new column names and assign this new list as the new column names. You can use list comprehension for this.

In [0]:
# Your code here

### 2 - check yourself

In [0]:
if list(weather.columns) == ['Date', 'Max_Temperature_F', 'Mean_Temperature_F', 'Min_Temperature_F',
       'Max_Dew_Point_F', 'Mean_Dew_Point_F', 'Min_Dewpoint_F', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_Pressure_In',
       'Mean_Sea_Level_Pressure_In', 'Min_Sea_Level_Pressure_In',
       'Max_Visibility_Miles', 'Mean_Visibility_Miles', 'Min_Visibility_Miles',
       'Max_Wind_Speed_MPH', 'Mean_Wind_Speed_MPH', 'Max_Gust_Speed_MPH',
       'Precipitation_In', 'Cloud_Cover', 'Events', 'Wind_Dir_Degrees',
       'landmark']:
    print('The column names are correct')
else:
    print('The column names are NOT correct')

#### Changing type of columns

In [0]:
df = pd.DataFrame({'a':['1','2','3'],
                  'b':['1','2','3'],
                  'c':['1','2','3'],
                  'd':['1','2','3'],
                  'e':['A','2','3']})
df

In [0]:
df.dtypes

In [0]:
df['b'] = df['b'].astype(int)
df['c'] = df['c'].astype(float)
df

In [0]:
df.dtypes

In [0]:
df['d'] = df['d'].astype('category')
df

In [0]:
df.dtypes

In [0]:
df['d']

In [0]:
pd.Series(['foo','bar']*1000).nbytes

In [0]:
pd.Series(['foo','bar']*1000).astype('category').nbytes

In [0]:
df['e'] = df['e'].astype(float)

In [0]:
df['e'] = df['e'].replace('A',0).astype(float)

In [0]:
df

#### Boxplot

In [0]:
df = pd.DataFrame({'a':np.random.rand(100),
                  'b':np.random.rand(100)})

In [0]:
df.boxplot()

In [0]:
df = pd.DataFrame({'a':np.random.rand(100),
                  'b':np.random.uniform(0,100,100)})

In [0]:
df.boxplot()

In [0]:
df.boxplot('a')

In [0]:
df.boxplot('b')

In [0]:
df = pd.DataFrame({'a':[1,2]*50 + [40]})
df.boxplot('a')

#### Change values in columns based on condition

In [0]:
import numpy as np

In [0]:
df = pd.DataFrame({'a':[1,2]*50 + [40]})
df.boxplot('a')

In [0]:
df['a'] = np.where(df['a'] > 5, 1, df['a'])
df.boxplot('a')

In [0]:
df = pd.DataFrame({'a':['apple','potato','plum','carrot','plum','apple','bean','apple']})
df

In [0]:
df['category'] = np.where(df['a'].isin(['apple','plum']), 'fruit','vegetable')
df

In [0]:
df = pd.DataFrame({'a':['apple','potato','pizza','plum','carrot','plum','apple','bean','apple','pizza']})
df['category'] = np.where(df['a'] == 'pizza', df['a'],
                    np.where(df['a'].isin(['apple','plum']), 'fruit','vegetable'))
df

In [0]:
df = pd.DataFrame({'first_name':['John','Kovacs','Peter'],
                  'last_name':['Smith','Peter','Black'],
                  'nationality':['US','HUN','US']})
df

In [0]:
df['real_last_name'] = np.where(df['nationality'] == 'US', df['last_name'], df['first_name'])
df

#### Set

In [0]:
set_a = {'apple','plum','plum','pear'}
set_a

In [0]:
US_spies = {'John','Anton','Brad','Dimitrij'}
russian_spies = {'Pavlov', 'Mikhail', 'Dimitrij','John', 'Alexander'}

In [0]:
loyal_US_spies = US_spies.difference(russian_spies)
loyal_US_spies

In [0]:
double_agents = US_spies.intersection(russian_spies)
double_agents

In [0]:
all_spies = US_spies.union(russian_spies)
all_spies

In [0]:
us_df = pd.DataFrame({'spies':['Anton', 'Anton', 'Brad', 'Brad', 'Brad','Dimitrij', 'Dimitrij', 'John', 'John'],
                     'contacted':pd.date_range(start='1/1/1960', end='1/9/1960')})
russia_df = pd.DataFrame({'spies':['Pavlov', 'Mikhail', 'Dimitrij','John', 'Alexander', 'Pavlov', 'Mikhail', 'Dimitrij','John', 'Alexander', 'Pavlov', 'Mikhail', 'Dimitrij','John', 'Alexander'],
                     'contacted':pd.date_range(start='1/1/1960', end='1/15/1960')})

In [0]:
us_df

In [0]:
russia_df

In [0]:
us_df['spies'].tolist()

In [0]:
set(us_df['spies'].tolist())

In [0]:
double_agents = set(us_df['spies'].tolist()).intersection(set(russia_df['spies'].tolist()))
double_agents

### 3 - exercise
Look at the data type of all the columns. Is there any that looks incorrect?

In [0]:
# Your code here

### 3 - check yourself

Yes, the Precipitation_In should be numeric

### 4 - exercise

Look at the unique values in the Precipitation_In column. Repalce the one that is not numeric with 0 (T means traces of rain) and than convert the column to float type!

In [0]:
# Your code here

### 4 - check yourself

In [0]:
if weather['Precipitation_In'].dtype == float:
    print('The conversion was correct')
else:
    print('The conversion was NOT correct')

### 5 - exercise
For all numeric column draw a boxplot to see if there are rows with extreme values in them.

In [0]:
# Your code here

### 6 - exercise
It looks like there are some mistakes in the data. Let's correct those! <br>
- In the Min_Temperature_F column change all data above 40000 to the value in the Mean_Temperature_F column in the same row
- In the Max_Temperature_F column change all data that is 0 to the value in the Mean_Temperature_F column in the same row
- In the Wind_Dir_Degrees column change all data above 360 to 0

In [0]:
# Your code here

### 6 - check yourself

Plot these columns using boxplots again to see if the transformation was succesfull!

### 7 - exercise
### Preparing for joining the dataframes

For joining weather data to trip data, we'll have to know the landmark of each trip. For that we'll use the zip code information from the station dataframe. We also have to use the date, which first needs to be transformed. <br>
Let's start with that! <br><br>

- Load the trip_filled.csv file into a dataframe called trip. 
- In the trip dataframe create two new columns called 'start_datetime' and 'end_datetime'. These should contain the values from column 'Start Date' and 'End date' converted into datetime. 

Now, that we can use the date values in the weather and the trip dataframe, let's check if they cover the same interval! <br>
- Create six variables called weather_datetime_min, weather_datetime_max, trip_start_date_min, trip_start_date_max, trip_end_date_min and trip_end_date_max containing the minimum and maximum values from the named columns.
- Display them to see if they the two dataframes have the same minimum and maximum date!

In [0]:
# Your code here

### 7 - check yourself

In [0]:
result_dict = {'weather_datetime_min':pd.Timestamp('2013-08-29 00:00:00'),
              'weather_datetime_max':pd.Timestamp('2014-02-28 00:00:00'),
              'trip_start_date_min':pd.Timestamp('2013-08-29 09:08:00'),
              'trip_start_date_max':pd.Timestamp('2023-08-29 14:13:00'),
              'trip_end_date_min':pd.Timestamp('2013-08-29 09:11:00'),
              'trip_end_date_max':pd.Timestamp('2014-03-02 16:52:00')}
for k,v in result_dict.items():
    if eval(k) == v:
        print('{} is correct'.format(k))
    else:
        print('{} is NOT correct'.format(k))

### 8 - exercise

So it looks like that there are some rows with invalid start_date in the trip dataframe. <br>
Let's see, in how many rows is the start_date later than the latest end_date. You can use the trip_end_date_max variable you've created in the previous task. <br>
Save the number of rows into a variable called nb_not_valid_start_date_rows.

In [0]:
# Your code here

### 8 - check yourself

In [0]:
if nb_not_valid_start_date_rows == 20:
    print('nb_not_valid_start_date_rows is correct')
else:
    print('nb_not_valid_start_date_rows is NOT correct')

### 9 - exercise

As the number of row with invalid start_date is not high, let's just drop them. <br>
Create a new dataframe called trip_valid_start where these rows are dropped.

In [0]:
# Your code here

### 9 - check yourself

In [0]:
if len(trip_valid_start) == 143985 and trip_valid_start['start_date'].max()==pd.Timestamp('2014-02-28 23:20:00'):
    print('New dataframe is correct')
else:
    print('Something is not correct with the new dataframe')

### 10 - exercise
In the weather dataframe the datetime refers to a day, while in the trip_valid_start dataframe the dates refer to exact times. <br>
For being able to join, we'll need to create new columns in both dataframes with only the date part of the timestamps. In the trip_valid_start dataframe we'll use the start_date to join on. <br>
In both dataframes create column called date_to_join in which the datetime/start_date column is transformed to datetime.date format! <br>
Using set().intersection and set().difference see how many common and different values are in the date_to_join columns in the two dataframes. Create variables called nb_common and nb_different and save the result into them!

In [0]:
# Your code here

### 10 - check yourself

In [0]:
if nb_common == 184 and nb_different==0:
    print('The date_to_join columns are correct')
else:
    print('Something is not correct')

### 11 - exercise

Let's save the changed dataframes to csv files!

In [0]:
# Your code here

### +1 - exercise

Draw bloxplots of the numeric columns in the weather dataframe that shows the data grouped by the month of the date!

In [0]:
# Your code here